# rule to export method doc
api.name=groovy:it.name()
return.name[#real_return]=groovy: it.docs("real_return")
method.return[#real_return]=groovy: helper.resolveLinks(""+it.docs("real_return"))
field.ignore=groovy:it.hasDoc("ignore")

api.name=#api.name
folder.name=#folder.name

field.required=groovy:it.hasDoc("required")