#properties.additional=https://raw.githubusercontent.com/tangcent/easy-yapi/master/third/javax.validation.mock.config
#properties.additional=https://raw.githubusercontent.com/tangcent/easy-yapi/master/third/swagger.config
#properties.additional=https://raw.githubusercontent.com/tangcent/easy-yapi/master/third/swagger.advanced.config
return.name[#real_return]=groovy: it.docs("real_return")
method.return[#real_return]=groovy: helper.resolveLinks(""+it.docs("real_return"))

api.name=#api.name
folder.name=#folder.name